.about {
	margin-top: 60px;
	.flex__about {
		flex-direction: column;
		row-gap: 35px;
		margin-top: 50px;
		@include mediaSM {
			row-gap: 50px;
		}
		@include mediaMD {
			flex-direction: row;
			align-items: center;
			column-gap: 60px;
			margin-top: 90px;
		}
		@include mediaLG {
			column-gap: 30px;
		}
		.about__content {
			order: 2;
			p.about__paragraph {
				text-align: start;
				line-height: 32px;
				font-family: var(--body-font);
				font-weight: var(--font-medium);
				margin-bottom: 15px;
				@include mediaMD {
					font-size: 17px;
					line-height: 32px;
					text-align: initial;
					margin-bottom: 15px;
				}
				span {
					font-weight: var(--font-bold);
					color: var(--first-color-dark);
				}
			}
			.about__btn {
				margin-top: 20px;
				margin-inline: auto;
				@include mediaSM {
					margin-top: 25px;
				}
				@include mediaMD {
					font-size: 17px;
				}
				@include mediaLG {
					font-size: 18px;
				}
				@include mediaXLG {
					margin-left: 0;
				}
				i {
					margin-left: 8px;
					font-size: 15px;
					@include mediaSM {
						margin-left: 10px;
						font-size: 18px;
					}
					@include mediaMD {
						font-size: 16px;
					}
				}
			}
		}
		.about__container {
			@include mediaMD {
				display: inline-flex;
				order: 1;
			}
			.about__image {
				display: block;
				margin-inline: auto;
				width: 90%;
				max-width: 400px;
				height: initial;
				@include mediaXXS {
					width: 90%;
					height: initial;
				}
				@include mediaMD {
					width: 435px;
					height: initial;
				}
				@include mediaLG {
					width: 580px;
					max-width: initial;
					height: 400px;
				}
				@include mediaXLG {
					height: initial;
				}
			}
		}
	}
}

#item_1,
#item_2,
#item_3,
#item_4,
#item_5 {
 transition: .3s linear;
}