.aventages {
	margin-top: 60px;
	.container {
		@include mediaLG {
			width: initial;
			padding-inline: 25px;
		}
	}
	.flex__aventages {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		@include mediaSM {
			margin-top: 70px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 25px 20px;
		}
		@include mediaMD {
			gap: 25px 20px;
		}
		@include mediaLG {
			grid-template-columns: repeat(2, auto);
			justify-content: center;
			gap: 45px 30px;
		}
		.aventage {
			position: relative;
			object-fit: cover;
			height: 200px;
			overflow: hidden;
			&:hover .aventage__img {
				transform: scale(1.05);
			}
			@include mediaXS {
				height: 375px;
			}
			@include mediaSM {
				height: 230px;
			}
			@include mediaMD {
				height: 300px;
			}
			@include mediaLG {
				width: 500px;
				height: 350px;
			}
			@include mediaXLG {
				width: initial;
				height: initial;
			}
			.aventage__overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					250deg,
					var(--first-color-rgb-very-dark-mobile) 80%,
					var(--first-color-rgb-dark-mobile) 90%
				);
				display: flex;
				align-items: center;
				justify-content: center;
				padding-inline: 10px;
				z-index: 2;
				@include mediaSM {
					background: linear-gradient(
						250deg,
						var(--first-color-rgb-very-dark) 80%,
						var(--first-color-rgb-dark) 90%
					);
				}
				@include mediaLG {
					padding-inline: 25px;
				}
				.aventage__paragraph {
					width: 340px;
					font-size: 22px;
					font-family: var(--body-font);
					font-style: italic;
					font-weight: var(--font-bold);
					text-align: center;
					letter-spacing: 0.03em;
					line-height: 32px;
					color: white;
					@include mediaXXS {
						font-size: 19px;
					}
					@include mediaXS {
						width: initial;
						font-size: 26px;
						line-height: 38px;
					}
					@include mediaSM {
						font-size: 20px;
						line-height: 30px;
						width: 610px;
					}
					@include mediaMD {
						font-size: 26px;
					}
					@include mediaLG {
						font-size: 28px;
						line-height: 42px;
					}
				}
			}
			.aventage__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 450ms linear;
			}
		}
	}
}
