.aventages {
	margin-top: 60px;
	.container {
		@include mediaLG {
			width: initial;
			padding-inline: 25px;
		}
	}
	.flex__aventages {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		@include mediaSM {
			margin-top: 70px;
		}
		@include mediaMD {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 25px 20px;
		}
		@include mediaLG {
			gap: 45px 30px;
		}
		.aventage {
			position: relative;
			object-fit: cover;
			height: 267px;
			@include mediaXS {
				height: 375px;
			}
			@include mediaSM {
				height: 495px;
			}
			@include mediaMD {
				height: 300px;
			}
			@include mediaLG {
				height: 400px;
			}
			.aventage__overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					250deg,
					var(--first-color-rgb-very-dark) 24.25%,
					var(--first-color-rgb-dark) 79.44%
				);
				display: flex;
				align-items: center;
				justify-content: center;
				padding-inline: 10px;
				@include mediaLG {
					padding-inline: 25px;
				}
				.aventage__paragraph {
					width: 340px;
					font-size: 22px;
					font-family: var(--body-font);
					font-style: italic;
					font-weight: var(--font-bold);
					text-align: center;
					letter-spacing: 0.03em;
					line-height: 32px;
					color: white;
					@include mediaXXS {
						font-size: 19px;
					}
					@include mediaSM {
						font-size: 32px;
						line-height: 38px;
						width: 610px;
					}
					@include mediaMD {
						font-size: 25px;
					}
					@include mediaLG {
						font-size: 32px;
						line-height: 42px;
					}
				}
			}
			.aventage__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
