.aventages {
	margin-top: 60px;
	.flex__aventages {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		@include mediaSM {
			margin-top: 70px;
		}
		.aventage {
			position: relative;
			object-fit: cover;
			height: 267px;
			@include mediaXS {
				height: 375px;
			}
			@include mediaSM {
				height: 495px;
			}
			.aventage__overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					250deg,
					var(--first-color-rgb-very-dark) 24.25%,
					var(--first-color-rgb-dark) 79.44%
				);
				display: flex;
				align-items: center;
				justify-content: center;
				padding-inline: 10px;
				.aventage__paragraph {
					width: 340px;
					font-size: 22px;
					font-family: var(--body-font);
					font-style: italic;
					font-weight: var(--font-bold);
					text-align: center;
					letter-spacing: 0.03em;
					line-height: 32px;
					color: white;
					@include mediaXXS {
						font-size: 19px;
					}
					@include mediaSM {
						font-size: 32px;
						line-height: 38px;
						width: 610px;
					}
				}
			}
			.aventage__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
