.footer {
	background-color: var(--footer-color);
	color: white;
	position: relative;
	margin-top: 70px;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 50px;
		background-color: var(--footer-color);
		top: -50px;
		left: 0;
		-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
		clip-path: polygon(0 0, 0% 100%, 100% 100%);
		@include mediaXXS {
			top: -49px;
		}
		@include mediaSM {
			height: 80px;
			top: -79px;
		}
	}
	.footer__logo {
		width: 120px;
		height: 55px;
		margin-left: 75px;
		@include mediaXXS {
			margin-left: 20px;
			width: 100px;
			height: 45px;
		}
		@include mediaSM {
			margin-left: 0;
		}
	}
	.flex__footer {
		margin-top: 60px;
		width: 295px;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		row-gap: 60px;
		@include mediaSM {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 40px 60px;
			width: initial;
		}
		.footer_title {
			font-family: var(--body-font);
			font-weight: var(--font-bold);
			font-size: 1.625rem;
			letter-spacing: 0.03em;
			margin-bottom: 25px;
		}
		.flex__info {
			display: flex;
			align-items: center;
			column-gap: 20px;
			margin-bottom: 25px;
			@include mediaXXS {
				margin-bottom: 15px;
			}
			i {
				font-size: 22px;
				&.fa-chevron-right {
					font-size: 12px;
				}
			}
			p,
			a {
				font-family: var(--paragraph-font);
				font-size: 22px;
				line-height: 32px;
				letter-spacing: 0.03em;
				@include mediaXXS {
					font-size: 18px;
				}
			}
		}
	}
	.social__media {
		display: flex;
		margin-top: 50px;
		column-gap: 25px;
		justify-content: center;
		@include mediaSM {
			margin-top: 125px;
		}
		i {
			font-size: 40px;
			@include mediaXXS {
				font-size: 35px;
			}
		}
	}
	.footer__copyright {
		font-family: var(--body-font);
		font-size: 15px;
		text-align: center;
		letter-spacing: 0.03em;
		color: rgba(white, 0.95);
		margin-top: 20px;
		margin-bottom: 30px;
		@include mediaXXS {
			font-size: 13px;
		}
		@include mediaSM {
			font-size: 18px;
			margin-top: 25px;
		}
	}
}
