.home {
	margin-top: 120px;
	text-align: center;
	@include mediaSM {
		margin-top: 0;
	}
	@include mediaMD {
		text-align: initial;
		margin-top: 60px;
	}
	@include mediaLG {
		margin-top: 100px;
	}
	.flex__home {
		display: flex;
		align-items: center;
		column-gap: 30px;
		@include mediaLG {
			column-gap: 40px;
		}
	}
	&__content {
		@include mediaLG {
			flex: 1 0 500px;
		}
	}
	&__title {
		color: var(--first-color-very-dark);
		font-size: 2.25rem;
		font-weight: var(--font-bold);
		font-family: var(--title-font);
		margin-bottom: 8px;
		margin-top: 0;
		@include mediaSM {
			font-size: 3.625rem;
		}
		@include mediaMD {
			font-size: 42px;
		}
		@include mediaLG {
			font-size: 52px;
			margin-top: 0;
		}
	}
	&__subtitle {
		font-family: var(--title-font);
		font-weight: var(--font-bold);
		font-size: 20px;
		color: var(--first-color-base);
		margin-top: 0;
		@include mediaXS {
			font-size: 24px;
		}
		@include mediaSM {
			font-size: 26px;
		}
		@include mediaMD {
			margin-bottom: 20px;
		}
	}
	&__image-mobile {
		width: 80%;
		margin-block: 25px;
		@include mediaXS {
			width: 65%;
		}
		@include mediaSM {
			width: 70%;
			margin-block: 30px;
		}
		@include mediaMD {
			display: none;
		}
	}
	&__paragraph {
		font-size: 1rem;
		font-family: var(--body-font);
		font-weight: var(--font-medium);
		line-height: 1.5;
		text-align: start;
		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
		@include mediaSM {
			font-size: 25px;
		}
		@include mediaMD {
			font-size: 18px;
		}
	}
	&__btn {
		margin-top: 25px;
		padding-block: 10px;
	}
	&__image {
		height: 440px;
		display: none;
		@include mediaMD {
			display: block;
		}
		@include mediaLG {
			height: initial;
			width: 500px;
		}
	}
}
