.works__content {
	display: grid;
  row-gap: 25px;
	margin-top: 60px;
	.work {
		padding: 25px;
		box-shadow: 0px 0px 6px 6px rgba(0, 77, 1, 0.15);
		.work__title {
			font-family: var(--title-font);
			font-weight: var(--font-bold);
			font-size: 22px;
			text-align: center;
			text-transform: uppercase;
			color: var(--first-color-dark);
			letter-spacing: 0.03em;
			margin-bottom: 25px;
			line-height: 32px;
		}
		.work__image {
			margin-inline: auto;
			display: block;
			margin-bottom: 25px;
		}
		.work__paragraph {
			text-align: center;
			font-family: var(--paragraph-font);
			line-height: 32px;
			letter-spacing: 0.02em;
		}
		&:last-of-type .work__paragraph {
			font-size: 15px;
			letter-spacing: 0;
		}
	}
}
