// For Javascript scrolling
.scroll-header {
	box-shadow: 0 4px 4px rgb(0 0 0 / 10%);

	background-color: white;
}
header {
	height: 70px;
	align-items: center;
	display: flex;
	transition: 300ms ease-out;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: var(--z-fixed);
	transition: 150ms linear;
	padding-block: 40px;
	.nav {
		justify-content: space-between;
		align-items: center;
		width: 100%;
		&__logo img {
			width: 97px;
			height: 43px;
			@include mediaSM {
				width: 140px;
				height: 55px;
			}
			@include mediaMD {
				width: 120px;
				height: 50px;
			}
		}
		// SHOW MENU
		.show-menu {
			right: 0;
		}
		&__links {
			position: fixed;
			background-color: white;
			box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
			padding: 40px 0;
			width: 100%;
			height: 100vh;
			top: 0;
			right: -104%;
			transition: 300ms ease-out;
			z-index: var(--z-fixed);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 30px;
			list-style: none;
			color: black;
			.flex__buttons {
				display: flex;
				flex-direction: column;
				row-gap: 15px;
				margin-top: 20px;
				@include mediaSM {
					flex-direction: row;
					column-gap: 20px;
					margin-top: 35px;
				}
				.button {
					width: 180px;
					font-size: 15px;
					@include mediaSM {
						width: 215px;
						font-size: 18px;
					}
					i {
						margin-left: 10px;
						font-size: 15px;
						@include mediaSM {
							font-size: 18px;
						}
					}
				}
				.alt {
					i {
						font-size: 22px;
						@include mediaSM {
							font-size: 25px;
						}
					}
				}
			}
			.social__media {
				display: flex;
				column-gap: 20px;
				@include mediaSM {
					margin-top: 35px;
					column-gap: 25px;
				}
				a {
					font-size: 32px;
					@include mediaSM {
						font-size: 38px;
					}
				}
				.facebook__link {
					color: #3b5998;
				}
				.instagram__link {
					color: #e5355b;
				}
				.linkedin__link {
					color: #0077b5;
				}
			}
			.nav__copyright {
				font-size: 14px;
				font-family: var(--paragraph-font);
				line-height: 24px;
				text-align: center;
				@include mediaSM {
					font-size: 16px;
				}
				br {
					@include mediaSM {
						display: none;
					}
				}
			}
			@include mediaSM {
				width: 70%;
			}
			@include mediaMD {
				display: flex;
				flex-direction: row;
				position: initial;
				width: initial;
				padding: initial;
				box-shadow: initial;
				background-color: initial;
				border-radius: initial;
				color: black;
				height: initial;
				gap: 30px;
				.nav__close {
					display: none;
				}
				.nav__link.mobile,
				.flex__buttons,
				.social__media,
				.nav__copyright {
					display: none;
				}
			}
			.nav__close {
				position: absolute;
				top: 20px;
				right: 20px;
				padding: 8px;
				cursor: pointer;
				i {
					font-size: 2rem;
				}
			}
			li a {
				font-size: 16px;
				font-family: var(--body-font);
				font-weight: var(--font-semi-bold);
				position: relative;
				@include mediaSM {
					font-size: 20px;
				}
				@include mediaMD {
					font-size: 18px;
				}
				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -10px;
					width: 0;
					height: 5px;
					background-color: var(--first-color-dark);
					transition: 0.2s linear;
				}
				&:hover::after,
				&.active::after {
					width: 100%;
				}
			}
		}
		&__toggle {
			font-size: 2rem;
			color: black;
			cursor: pointer;
			@include mediaSM {
				font-size: 2.25rem;
			}
			@include mediaMD {
				display: none;
			}
		}
		&__connexion {
			display: none;
			@include mediaMD {
				display: flex;
				border-radius: 5px;
				font-size: 16px;
				i {
					margin-left: 10px;
				}
			}
		}
	}
}
