.services {
	margin-top: 60px;
	.flex__services {
		margin-top: 30px;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 25px;
		@include mediaSM {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: start;
			gap: 45px;
		}
		@include mediaMD {
			gap: 20px;
			margin-top: 40px;
		}
		.service {
			width: 348px;
			text-align: center;
			padding-block: 20px;
			@include mediaXXS {
				width: 100%;
			}
			@include mediaSM {
				flex: 1;
			}
			&:last-of-type {
				@include mediaSM {
					flex: initial;
				}
				@include mediaMD {
					flex: 1;
				}
			}
			.image__container {
				border-radius: 50%;
				height: 270px;
				width: 270px;
				padding: 45px;
				border: 1px solid var(--first-color-base);
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				@include mediaXXS {
					width: 220px;
					height: 220px;
					& img {
						max-width: 100%;
					}
				}
				@include mediaSM {
					width: 240px;
					height: 240px;
					& img {
						max-width: 100%;
					}
				}
				@include mediaMD {
					width: 200px;
					height: 200px;	
				}
			}
			&__title {
				font-size: 1.75rem;
				font-family: var(--body-font);
				font-weight: var(--font-bold);
				color: var(--first-color-base);
				margin-top: 25px;
				margin-bottom: 20px;
				@include mediaXXS {
					font-size: 1.5rem;
				}
				@include mediaMD {
					font-size: 26px;
				}
			}
			&__paragraph {
				font-size: 19px;
				line-height: 26px;
				letter-spacing: 0.02em;
				font-family: var(--paragraph-font);
				@include mediaXXS {
					font-size: 18px;
				}
				@include mediaSM {
					font-size: 18px;
				}
				@include mediaMD {
					font-size: 16px;
				}
			}
		}
	}
}
