.button {
	background-color: var(--first-color-dark);
	border: 2px solid var(--first-color-dark);
	border-radius: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: var(--font-semi-bold);
	color: var(--color-white);
	font-family: var(--body-font);
	transition: 150ms linear;
	padding: 14px 35px;
	width: fit-content;
	&:hover {
		background-color: var(--first-color-very-dark);
	}
	@include mediaSM {
		font-size: 20px;
	}
	@include mediaMD {
		font-size: 16px;
	}
	@include mediaLG {
		font-size: 18px;
	}
}
.alt {
	background-color: transparent;
	color: var(--first-color-dark);
	&:hover {
		background-color: var(--first-color-dark);
		color: white;
	}
	&:hover i {
		color: white;
	}
	i {
		transition: 150ms linear;
		font-size: 1.75rem;
		margin-right: 8px;
		@include mediaSM {
			font-size: 2rem;
		}
	}
}
