.button {
	width: 185px;
	height: 50px;
	background-color: var(--first-color-dark);
	border: 2px solid var(--first-color-dark);
	box-shadow: var(--btn-shadow);
	border-radius: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: var(--font-semi-bold);
	color: var(--color-white);
	font-family: var(--body-font);
	@include mediaSM {
		width: 260px;
		height: 57px;
		font-size: 20px;
	}
	@include mediaMD {
		width: 180px;
		height: 50px;
		font-size: 16px;
	}
}
.alt {
	background-color: transparent;
	color: var(--first-color-dark);
	@include mediaMD {
		width: 200px;
	}
	i {
		font-size: 1.75rem;
		margin-right: 8px;
		@include mediaSM {
			font-size: 2rem;
		}
	}
}
