//=========== Google Font ============
@import url('https://fonts.googleapis.com/css2?family=Karma&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,700&family=Signika:wght@700&display=swap');

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
	// max-width: 1024px;
	margin-inline: auto;
}

.flex {
	display: flex;
}



