header {
  margin-top: var(--mb-2);
  .nav {
    justify-content: space-between;
    align-items: center;
    &__logo {
      width: 97px;
      height: 43px;
    }
    &__toggle {
      font-size: 2rem;
      color: gray;
    }
  }
}