.container {
	padding-inline: 25px;
	width: 100%;
	@include mediaXXS {
		padding-inline: 25px;
	}
	@include mediaXS {
		width: 580px;
		margin-inline: auto;
	}
	@include mediaSM {
		width: 720px;
		margin-inline: auto;
	}
	@include mediaMD {
		width: 960px;
	}
	@include mediaLG {
		width: 1140px;
	}
}
