.container {
	padding-inline: 25px;
	width: 100%;
	@include mediaXXS {
		padding-inline: 25px;
	}
	@include mediaXS {
		max-width: 580px;
		margin-inline: auto;
	}
	@include mediaSM {
		max-width: 720px;
		margin-inline: auto;
	}
	@include mediaMD {
		max-width: 960px;
	}
	@include mediaLG {
		max-width: 1140px;
	}
	@include mediaXLG {
		max-width: 1320px;
		width: fit-content;
	}
	@include mediaXXLG {
		max-width: 2000px;
	}
}
