//=========== Google Font ============
@import url('https://fonts.googleapis.com/css2?family=Karma&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,700&family=Signika:wght@700&display=swap');

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
/*=============== REUSABLE CSS CLASSES ===============*/

.flex {
	display: flex;
}

.full-height {
	height: 100vh;
	background-color: var(--first-color-very-light);
	position: relative;
	@include mediaXXS {
		padding-top: 10px !important;
	}
	@include mediaSM {
		height: initial;
		padding-bottom: 10rem !important;
		padding-top: 20px !important;
	}
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 50px;
		background-color: var(--first-color-very-light);
		bottom: -50px;
		-webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
		clip-path: polygon(0 0, 0 100%, 100% 0);
	}
}
.section {
	padding-block: 2rem;
	@include mediaSM {
		padding-block: 8rem;
	}
	@include mediaMD {
		padding-block: 6rem;
	}
	&__title {
		text-align: center;
		text-transform: uppercase;
		color: var(--first-color-dark);
		font-weight: var(--font-bold);
		font-size: 1.625rem;
		font-family: var(--title-font);
		letter-spacing: 0.05em;
		position: relative;
		width: max-content;
		margin-inline: auto;
		@include mediaXXS {
			font-size: 1.7rem;
			line-height: 32px;
			letter-spacing: 0;
		}
		@include mediaSM {
			font-size: 38px;
		}
		@include mediaMD {
			font-size: 32px;
		}
		@include mediaLG {
			font-size: 38px;
		}
		&::before {
			position: absolute;
			width: 60%;
			height: 1px;
			content: '';
			background-color: black;
			left: 50%;
			bottom: -20px;
			transform: translateX(-50%);
		}
		&::after {
			content: '';
			width: 65px;
			height: 8px;
			background-color: var(--first-color-base);
			position: absolute;
			bottom: -24px;
			border-radius: 20px;
			left: 50%;
			transform: translate(-50%);
		}
	}
	&__paragraph {
		margin-top: 45px;
		text-align: center;
		letter-spacing: 0.02em;
		line-height: 28px;
		font-family: var(--paragraph-font);
		@include mediaSM {
			font-size: 20px;
			line-height: 32px;
		}
		@include mediaMD {
			font-size: 18px;
		}
		@include mediaLG {
			font-size: 20px;
		}
	}
}
