// ========== Variables CSS =========
:root {
	--first-color-very-dark: #4d844e;
	--first-color-dark: #75a575;
	--first-color-base: #9cc69b;
	--first-color-light: #c0e7be;
	--first-color-very-light: #fbfffa;
	--first-color-faded: #fbfffa;
	--color-white: #fff;

	// rgb linear gradient
	// For Mobile
	--first-color-rgb-very-dark-mobile: rgba(77, 132, 78, 0.85);
	--first-color-rgb-dark-mobile: rgba(117, 165, 117, 0.85);
	// // For Desktop
	--first-color-rgb-very-dark: rgba(77, 132, 78, 0.75);
	--first-color-rgb-dark: rgba(117, 165, 117, 0.75);

	// secondary color
	--secondary-color-very-dark: #9a24a0;
	--secondary-color-dark: #b737b7;
	--secondary-color-base: #d354ca;
	--secondary-color-light: #ea75e2;
	--secondary-color-very-light: #ffb3ff;
	--secondary-color-faded: #ffe6ff;

	// footer color
	--footer-color: #325733;

	// about image grey color
	--grey-color: #f2f2f2;

	// Input color in focus mode
	--input-active-color: #e8f0fe;



	//========== Font and typography ==========
	// .5rem = 8px | 1rem = 16px
	--title-font: 'Signika', sans-serif;
	--body-font: 'Open Sans', sans-serif;
	--paragraph-font: 'Karma', serif;

	//========== Font weight ==========
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	//========== z index ==========
	--z-fixed: 100;

	//======== Button Shadow =========
	--btn-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
