// ========== Variables CSS =========
:root {
	--first-color-very-dark: #4d844e;
	--first-color-dark: #75a575;
	--first-color-base: #9cc69b;
	--first-color-light: #c0e7be;
	--first-color-very-light: #fbfffa;
	--color-white: #fff;

	// rgb linear gradient
	--first-color-rgb-very-dark: rgba(77, 132, 78, 0.65);
	--first-color-rgb-dark: rgba(117, 165, 117, 0.65);

	// secondary color
	--secondary-color-light: #ffb3ff;

	// footer color
	--footer-color: #325733;

	// about image grey color
	--grey-color: #f2f2f2;

	//========== Font and typography ==========
	// .5rem = 8px | 1rem = 16px
	--title-font: 'Signika', sans-serif;
	--body-font: 'Open Sans', sans-serif;
	--paragraph-font: 'Karma', serif;

	//========== Font weight ==========
	--font-semi-bold: 600;
	--font-bold: 700;

	//========== z index ==========
	--z-fixed: 100;

	//======== Button Shadow =========
	--btn-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
